# Python
*.pyc
__pycache__/
venv/
env/
.venv/
.env
pip-log.txt
pip-delete-this-arg.txt
*.egg-info/
.python-version
build/
dist/

# Django
*.sqlite3
static-files/
staticfiles/
local_settings.py
media/

# IDEs and OS
# (izohlar alohida qatorda bo'lishi shart - aks holda qoida ishlamaydi)
.idea/
.vscode/
.DS_Store
Thumbs.db
*.log

# Boshqa
*.exe
